/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Fucked up by JuPi :D
 */

/* Make top menu stick and be nice */
.nav-wrapper { background-color: #FFFFFF !important; font-weight: bold;}
nav ul li a { color: #566573; font-size: 18px;}
nav { height: 80px; line-height: 80px;}

nav a {
  color: #000;
}

nav a.sidenav-trigger {
  height: 80px;
  line-height: 80px;
}

/* Set fonts like we want them*/
h2 { 
    font-weight: 800; 
    font-size: 32px; 
    color:#4e4e4e;
    margin: 0;
}

#quote {
    color:#ddd;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
}

#quote span {
  font-size: 32px;
  font-weight: bold;
}

#get_a_quote {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 40px;
}

.card-panel h6 {
  height: 40px;
}

.card-panel p {
  height: 100px;
}

.phone-widget a{
  padding: 0 20px;

}

.phone-widget span {
  position: relative;
  top: -5px;
  font-weight: bold;
}

.tarpis-action-buttons {
  border-radius: 10px;
}

/* Used to have the parallax image of front page at good size */
.full-width { 
  height: 80%; 
}

/* This is shit, but it works... factorise to call badge with color instead of a style per color... */
.notification-badge1 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #facc00; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge2 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #99cf4b; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge3 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #da3743; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge4 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #E55AAF; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge5 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #5999ce; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge6 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #60c9be; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}

/* Set icons of our promise at the right size*/
.icon-block .material-icons { font-size: inherit;}
.promise-icons { font-size: 64px; }

/* Set the borders of our process */
.process-grid
{ border:5px solid #B3B4BD; border-radius: 20px 80px 80px 15px;}

/* Testimonial image size */
.testimonialimages{
  max-height:50%;
  object-fit: contain;
}



/* adri styles start*/

#carPriceCalculator, #carPriceCalculator input, #carPriceCalculator

select{
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size:large;
    margin-bottom: 15px;
    border-radius:5px;
    padding:10px;
    display: inline;
    color: #4e4e4e !important;
}

select::placeholder {
    color: #4e4e4e !important;
}

#carPriceCalculator
label{color:white}#carAccept
button{width:400px;padding:15px;background:#99cf4b;color:white;border:none;font-weight:normal;font-size:large;border-radius:5px}#carAccept button:hover{font-weight:bold;cursor:pointer}#carClose
button{width:400px;padding:15px;background:#DA3743;color:white;border:none;font-weight:normal;font-size:large;border-radius:5px}#carClose button:hover{font-weight:bold;cursor:pointer}#carPriceCalculator
button{width:100%;padding:15px;background:#0c71c3;;color:white;border:none;font-weight:normal;font-size:large;border-radius:5px}#carPriceCalculator button:hover{font-weight:bold;cursor:pointer}

.modal {
    display:none;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    z-index:9999;
    -webkit-transition:all .5s;
    transition:all .5s;
    max-height: 100%;
}

.modal-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:#fefefe;
  margin: auto;
  width: 60%;
  min-width: 360px;
}

.modal .modal-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
  width: 60%;
  min-width: 360px;
}

.modal-footer a {
  padding-left: 22px;
  padding-right: 22px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.directions_car {
    font-size:80px;
    color:#0c71c3;
}

.brand-logo {
  line-height: 100px !important;
}

.close{color:#aaa;float:right;font-size:28px;font-weight:bold}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer}


    #carPriceCalculator,
    #carPriceCalculator input,
    #carPriceCalculator select {
      width: 100%;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: large;
      margin-bottom: 15px;
      border-radius: 5px;
      padding: 10px
    }

    #carPriceCalculator label {
      color: white
    }

    #carAccept button {
      width: 400px;
      padding: 15px;
      background: #99cf4b;
      color: white;
      border: none;
      font-weight: normal;
      font-size: large;
      border-radius: 5px
    }

    #carAccept button:hover {
      font-weight: bold;
      cursor: pointer
    }

    #carClose button {
      width: 400px;
      padding: 15px;
      background: #DA3743;
      color: white;
      border: none;
      font-weight: normal;
      font-size: large;
      border-radius: 5px
    }

    #carClose button:hover {
      font-weight: bold;
      cursor: pointer
    }

    #carPriceCalculator button {
      width: 100%;
      padding: 15px;
      background: #0c71c3;
      ;
      color: white;
      border: none;
      font-weight: normal;
      font-size: large;
      border-radius: 5px
    }

    #carPriceCalculator button:hover {
      font-weight: bold;
      cursor: pointer
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer
    }

    #myModal p {
      text-align: center
    }

/* adri styles end*/

/* social icon sprite start*/
#socialicons {
  position: relative;
}

/*
right: 0;
align: right;
text-align: right;
float: right; 
*/


#socialicons li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#socialicons li, #socialicons a {
  height: 25px;
  display: block;
}

#rss:hover {
  background-position: -78px -26px;
}
/* social icon sprite end*/


.card-postindex {
     width:300px;
    }
